<section class ="font-lexend">
    <div class="content-region polje-div">     
        <div class="tim-levi-div">
            <div class= "flex-column pt-5">
                <label class = "ms-5 pt-1 pb-3 h1" style="color: white;">Vas tim</label><br>

                <div class= "mx-2 mt-2 player-profile text-center"><label class = " pt-1" style="color: white;">Frager</label><br><img class="rounded-circle p-1" src="/assets/img/Player.png" alt="..."/><div class= "ms-0 d-flex justify-content-center stats-div">
                    <div style="float: right;width: 50%;" class="flex-column">
                        <div class = "text-center pt-4 stat-div" >K/D: <label>10</label></div>
                        <div class = "text-center pt-4 stat-div">Uticaj: <label>10</label></div>
                    </div>
                     
                    <div style="float: left; width: 50%;">
                        <div class = "text-center pt-4 stat-div">Pozicija: <label>10</label></div>
                        <div class = "text-center pt-4 stat-div">Rejting: <label>92</label></div>
                    </div>  
    
                </div>
            </div>
            <div style="height: 25px;"></div>
                <div class= "mx-2 mt-2 player-profile text-center"><label class = " pt-1" style="color: white;">Frager</label><br><img class="rounded-circle p-1" src="/assets/img/Player.png" alt="..."/><div class= "ms-0 d-flex justify-content-center stats-div">
                    <div style="float: right;width: 50%;" class="flex-column">
                        <div class = "text-center pt-4 stat-div" >K/D: <label>10</label></div>
                        <div class = "text-center pt-4 stat-div">Uticaj: <label>10</label></div>
                    </div>
                     
                    <div style="float: left; width: 50%;">
                        <div class = "text-center pt-4 stat-div">Pozicija: <label>10</label></div>
                        <div class = "text-center pt-4 stat-div">Rejting: <label>92</label></div>
                    </div>  
    
                </div>
            </div>
            <div class= "mx-2 mt-2 player-profile text-center"><label class = " pt-1" style="color: white;">Frager</label><br><img class="rounded-circle p-1" src="/assets/img/Player.png" alt="..."/><div class= "ms-0 d-flex justify-content-center stats-div">
                <div style="float: right;width: 50%;" class="flex-column">
                    <div class = "text-center pt-4 stat-div" >K/D: <label>10</label></div>
                    <div class = "text-center pt-4 stat-div">Uticaj: <label>10</label></div>
                </div>
                 
                <div style="float: left; width: 50%;">
                    <div class = "text-center pt-4 stat-div">Pozicija: <label>10</label></div>
                    <div class = "text-center pt-4 stat-div">Rejting: <label>92</label></div>
                </div>  

            </div>
        </div>
        <div style="height: 25px;"></div>
        <div class= "mx-2 mt-2 player-profile text-center"><label class = " pt-1" style="color: white;">Frager</label><br><img class="rounded-circle p-1" src="/assets/img/Player.png" alt="..."/><div class= "ms-0 d-flex justify-content-center stats-div">
            <div style="float: right;width: 50%;" class="flex-column">
                <div class = "text-center pt-4 stat-div" >K/D: <label>10</label></div>
                <div class = "text-center pt-4 stat-div">Uticaj: <label>10</label></div>
            </div>
             
            <div style="float: left; width: 50%;">
                <div class = "text-center pt-4 stat-div">Pozicija: <label>10</label></div>
                <div class = "text-center pt-4 stat-div">Rejting: <label>92</label></div>
            </div>  

        </div>
    </div>
    <div style="height: 25px;"></div>
    <div class= "mx-2 mt-2 player-profile text-center"><label class = " pt-1" style="color: white;">Frager</label><br><img class="rounded-circle p-1" src="/assets/img/Player.png" alt="..."/><div class= "ms-0 d-flex justify-content-center stats-div">
        <div style="float: right;width: 50%;" class="flex-column">
            <div class = "text-center pt-4 stat-div" >K/D: <label>10</label></div>
            <div class = "text-center pt-4 stat-div">Uticaj: <label>10</label></div>
        </div>
         
        <div style="float: left; width: 50%;">
            <div class = "text-center pt-4 stat-div">Pozicija: <label>10</label></div>
            <div class = "text-center pt-4 stat-div">Rejting: <label>92</label></div>
        </div>  

    </div>
</div>


        </div> 
        </div>

        <div class="mid-linija"></div>

        <div class="tim-desni-div">
            <div class= "flex-column">
                <div class = "pb-2">
                    <select class="form-select text-center Team-cmbox" aria-label="Default">
                        <option value = "1">Faze</option>
                        <option value = "1">G2</option>
                        <option value = "1">Navi</option>
                    </select>
                </div>
                   <label class = "ms-5 pt-1 pb-3 h1" style="color: white;">Navi</label><br>
                   <div style="height: 25px;"></div>
                <div class= "mx-2 mt-2 player-profile text-center"><label class = " pt-1" style="color: white;">Frager</label><br><img class="rounded-circle p-1" src="/assets/img/Player.png" alt="..."/><div class= "ms-0 d-flex justify-content-center stats-div">
                    <div style="float: right;width: 50%;" class="flex-column">
                        <div class = "text-center pt-4 stat-div" >K/D: <label>10</label></div>
                        <div class = "text-center pt-4 stat-div">Uticaj: <label>10</label></div>
                    </div>
                     
                    <div style="float: left; width: 50%;">
                        <div class = "text-center pt-4 stat-div">Pozicija: <label>10</label></div>
                        <div class = "text-center pt-4 stat-div">Rejting: <label>92</label></div>
                    </div>  
    
                </div>
            </div>
            <div style="height: 25px;"></div>
                <div class= "mx-2 mt-2 player-profile text-center"><label class = " pt-1" style="color: white;">Frager</label><br><img class="rounded-circle p-1" src="/assets/img/Player.png" alt="..."/><div class= "ms-0 d-flex justify-content-center stats-div">
                    <div style="float: right;width: 50%;" class="flex-column">
                        <div class = "text-center pt-4 stat-div" >K/D: <label>10</label></div>
                        <div class = "text-center pt-4 stat-div">Uticaj: <label>10</label></div>
                    </div>
                     
                    <div style="float: left; width: 50%;">
                        <div class = "text-center pt-4 stat-div">Pozicija: <label>10</label></div>
                        <div class = "text-center pt-4 stat-div">Rejting: <label>92</label></div>
                    </div>  
    
                </div>
            </div>
            <div class= "mx-2 mt-2 player-profile text-center"><label class = " pt-1" style="color: white;">Frager</label><br><img class="rounded-circle p-1" src="/assets/img/Player.png" alt="..."/><div class= "ms-0 d-flex justify-content-center stats-div">
                <div style="float: right;width: 50%;" class="flex-column">
                    <div class = "text-center pt-4 stat-div" >K/D: <label>10</label></div>
                    <div class = "text-center pt-4 stat-div">Uticaj: <label>10</label></div>
                </div>
                 
                <div style="float: left; width: 50%;">
                    <div class = "text-center pt-4 stat-div">Pozicija: <label>10</label></div>
                    <div class = "text-center pt-4 stat-div">Rejting: <label>92</label></div>
                </div>  

            </div>
        </div>
        <div style="height: 25px;"></div>
        <div class= "mx-2 mt-2 player-profile text-center"><label class = " pt-1" style="color: white;">Frager</label><br><img class="rounded-circle p-1" src="/assets/img/Player.png" alt="..."/><div class= "ms-0 d-flex justify-content-center stats-div">
            <div style="float: right;width: 50%;" class="flex-column">
                <div class = "text-center pt-4 stat-div" >K/D: <label>10</label></div>
                <div class = "text-center pt-4 stat-div">Uticaj: <label>10</label></div>
            </div>
             
            <div style="float: left; width: 50%;">
                <div class = "text-center pt-4 stat-div">Pozicija: <label>10</label></div>
                <div class = "text-center pt-4 stat-div">Rejting: <label>92</label></div>
            </div>  

        </div>
    </div>
    <div style="height: 25px;"></div>
    <div class= "mx-2 mt-2 player-profile text-center"><label class = " pt-1" style="color: white;">Frager</label><br><img class="rounded-circle p-1" src="/assets/img/Player.png" alt="..."/><div class= "ms-0 d-flex justify-content-center stats-div">
        <div style="float: right;width: 50%;" class="flex-column">
            <div class = "text-center pt-4 stat-div" >K/D: <label>10</label></div>
            <div class = "text-center pt-4 stat-div">Uticaj: <label>10</label></div>
        </div>
         
        <div style="float: left; width: 50%;">
            <div class = "text-center pt-4 stat-div">Pozicija: <label>10</label></div>
            <div class = "text-center pt-4 stat-div">Rejting: <label>92</label></div>
        </div>  

    </div>
</div>

                </div> 
        </div>       
 
        <app-rezultat></app-rezultat>
        </div> 
        <button class="btn-lg font-lexend my-2 btn-sim">Simuliraj mečeve</button>
</section>
