.tim-levi-div
{
    height: 100%;
    width:49.5%;
    float:left;
    padding-left: 1.5%;
    background-color: none;
}

.tim-desni-div
{
height: 100%;
width:49.5%;
float:right;
padding-left: 22%;
background-color: none;
}

.polje-div
{
    width: 100%;
    height: 80rem;
}

.mid-linija
{
    height: 100%;
    width:1%;
    float:left;
    background-color: black;  
}

.stats-div
{
    height: auto;
    width: 100%;
}

.Right-profile
{
   /*width: 20rem!important;*/
 width: 90%!important;
 height: 30%;
 background: #180215; 
 border: white 1px solid;
}
.Right-profile img
{
  width: 50%!important;
  height:100% !important;
  min-width: 100px; 
  border: white 1px solid;
}

.stat-div
{
    width: 100%;
    height:50%;
    color: white;
    opacity: 90%;
    border: white 2px solid;
}

.Team-cmbox
{
    background-color: #180215;
    font-weight: bold;
    font-style: italic;
    color: white;
}