<section class="font-lexend">
  <div class="ViewPolje">
    <div class="text-center">
      <div
        *ngIf="compType == 'SHOP'"
        class="opt-btn-div d-flex justify-content-center"
      >
        <button class="opt-btn" (click)="ModeChange('IGRACI')">
          <fa-icon [icon]="faPersonRifle"></fa-icon>Igraci</button
        ><button class="opt-btn" (click)="ModeChange('SPONZORI')">
          <fa-icon [icon]="faHandshake"></fa-icon> Sponzori</button
        ><br /><br />
      </div>
      <label *ngIf="compType == 'SHOP'" class="h1" style="color: white"
        >SHOP</label
      ><br />
      <label *ngIf="compType == 'MYTEAM'" class="h1" style="color: white"
        >Vas tim</label
      ><br />
      <div *ngIf="compType == 'SHOP'" class="pb-2 text-center">
        <select
          *ngIf="Shop_mode == 'IGRACI'"
          id="Team-cmbox"
          class="form-select text-center Team-cmbox"
          aria-label="Default"
          (change)="ChangeOtherTeam()"
        >
          <option *ngFor="let obj of TeamNames" value="{{ obj }}">
            {{ obj }}
          </option>
        </select>
      </div>
      <label class="h1" style="color: white">Budzet:</label
      ><label class="ms-3 pt-1 pb-3 h1" style="color: white"
        >{{ $UsersMoney | async }}€</label
      ><br />
      <div *ngIf="Shop_mode == 'IGRACI'">
        <div *ngFor="let obj of $ActiveTeam | async">
          <div class="d-flex justify-content-center">
            <div style="height: 300px"></div>
            <div class="mx-2 mt-2 player-profile">
              <label class="pt-1" style="color: white"
                ><p class="h4">{{ obj.nick }}</p>
                <br />{{ obj.name }} {{ obj.lname }}</label
              ><br /><img
                class="rounded-circle p-1"
                src="{{ obj.img }}"
                alt="..."
              />
              <div class="ms-0 d-flex justify-content-center stats-div">
                <div style="float: right; width: 50%" class="flex-column">
                  <div class="text-center pt-3 stat-div">
                    K/D: <label>{{ obj.kd }}</label>
                  </div>
                  <div class="text-center pt-3 stat-div">
                    Uticaj: <label>{{ obj.impact }}</label>
                  </div>
                </div>

                <div style="float: left; width: 50%">
                  <div class="text-center pt-3 stat-div">
                    Tim:
                    <label *ngIf="obj.team != 'Natus Vincere'">{{
                      obj.team
                    }}</label
                    ><label *ngIf="obj.team == 'Natus Vincere'">NaVi</label>
                  </div>
                  <div class="text-center pt-3 stat-div">
                    Rejting: <label>{{ obj.rating }}</label>
                  </div>
                </div>
              </div>
              <button
                *ngIf="compType == 'SHOP'"
                style="width: 100%"
                class="shop-btns"
                (click)="BuyPlayer(obj.id)"
              >
                Kupi {{ obj.price }}€
              </button>
              <button
                *ngIf="compType == 'MYTEAM'"
                style="width: 100%"
                class="team-btns"
                (click)="SellPlayer(obj.id)"
              >
                Prodaj {{ obj.price }}€
              </button>
            </div>
          </div>
        </div>
        <div
          *ngIf="
            compType == 'MYTEAM' &&
            SponzorMyTeam != undefined &&
            SponzorMyTeam.id != -1
          "
        >
          <div class="d-flex justify-content-center mb-4">
            <div style="height: 300px"></div>
            <div class="mx-2 mt-2 player-profile">
              <img
                class="rounded-circle p-1"
                src="{{ SponzorMyTeam.img }}"
                alt="..."
              />
              <div class="ms-0 d-flex justify-content-center stats-div">
                <div
                  class="text-center stat-div h3"
                  *ngIf="compType == 'MYTEAM'"
                >
                  Naziv: <label class="p-2">{{ SponzorMyTeam.name }}</label>
                </div>
              </div>
              <br /><button
                *ngIf="compType == 'MYTEAM' && SponzorMyTeam.name != undefined"
                style="width: 100%"
                class="team-btns"
                (click)="PrekiniSaradanju(SponzorMyTeam.money)"
              >
                Prekini saradnju {{ SponzorMyTeam.money }}€
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="Shop_mode == 'SPONZORI'">
        <div *ngFor="let obj of SponzorArray">
          <div class="d-flex justify-content-center mb-4">
            <div style="height: 300px"></div>
            <div class="mx-2 mt-2 player-profile">
              <img class="rounded-circle p-1" src="{{ obj.img }}" alt="..." />
              <div class="ms-0 d-flex justify-content-center stats-div">
                <div class="text-center stat-div h3">
                  Naziv: <label class="p-2">{{ obj.name }}</label>
                </div>
              </div>
              <button
                *ngIf="compType == 'SHOP'"
                style="width: 100%"
                class="shop-btns"
                (click)="Apliciraj(obj.money, obj.id)"
              >
                Apliciraj {{ obj.money }}€
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
