.Result-Table {
  width: 80%;
  font-size: 3vh;
  color: white;
  padding: 10px;
}

.btn-sim {
  background-color: transparent;
  color: white;
  border: 2px white solid;
  border-radius: 50px;
  font-size: 3vh;
  padding: 1vh 13vh;
  margin: 1vh;
  display: inline-block;
  margin-right: 32%;
  margin-left: 38%;
  margin-bottom: 3vh;
}

.btn-sim:hover {
  background-color: white !important;
  color: #212529;
  transition: all 0.3s, opacity 0.1s 0.4s;
}

@media screen and (max-width: 912px) {
  .btn-sim {
    padding: 1vh 5vh;
  }
  .Result-Table {
    font-size: 2.2vh;
  }
}

@media screen and (max-width: 1024px) {
  .Result-Table {
    width: 100%;
  }
  .btn-sim {
    width: 100%;
    margin-left: 0%;
  }
}
