.Result-Table {
  width: 70%;
  font-size: 3vh;
  background-color: #212529;
  color: white;
  padding: 10px;
}

.Result-Table tr {
  border: 2px white solid;
  height: 6vh;
}

.btn-sim {
  background-color: #1d1d1d !important;
  color: white;
  box-shadow: 0 0 0 0.1rem white;
  margin-right: 39%;
  margin-left: 40%;
  border-radius: 30px;
  opacity: 0.91;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 1.5vw;
  margin-bottom: 4vh;
}

.btn-sim:hover {
  background-color: white !important;
  color: #212529;
  box-shadow: 0 0 0 0.15rem white;
}

td {
  color: #000;
}

@media screen and (max-width: 912px) {
  .btn-sim {
    font-size: 3vh;
  }
}

@media screen and (max-width: 1024px) {
  .Result-Table {
    width: 100%;
  }
  .btn-sim {
    width: 100%;
    margin-left: 0%;
  }
}
