<section class ="font-lexend">
    <div class="content-region">    
        <div class="shop-div text-center" style="height: 1000px;">
            <label class = "ms-5 pt-1 pb-3 h1" style="color: white;">SHOP</label><br>
            <div class = "pb-2">
                <select class="form-select text-center Team-cmbox" aria-label="Default">
                    <option value = "1">Faze</option>
                    <option value = "1">G2</option>
                    <option value = "1">Navi</option>
                </select>
            </div>
            <label class = "ms-5 pt-1 pb-3 h1"style="color: white;">Budzet:</label><label class = "ms-5 pt-1 pb-3 h1" style="color: white;">30000E</label><br>
            <div class= "d-flex justify-content-center">
                <div style="height: 300px;"></div>
                <div class= "mx-2 mt-2 player-profile"> <label class = " pt-1" style="color: white;">Frager</label><br><img class="rounded-circle p-1" src="/assets/img/Player.png" alt="..."/><div class= "ms-0 d-flex justify-content-center stats-div">
                    <div style="float: right;width: 50%;" class="flex-column">
                        <div class = "text-center pt-4 stat-div" >K/D: <label>10</label></div>
                        <div class = "text-center pt-4 stat-div">Uticaj: <label>10</label></div>
                    </div>
                     
                    <div style="float: left; width: 50%;">
                        <div class = "text-center pt-4 stat-div">Pozicija: <label>10</label></div>
                        <div class = "text-center pt-4 stat-div">Rejting: <label>92</label></div>
                    </div>  
    
                </div>
                <button style="width: 100%;" class="shop-btns">Kupi 3000e</button>
            </div>
    </div>
    <div class= "d-flex justify-content-center">
        <div style="height: 300px;"></div>
        <div class= "mx-2 mt-2 player-profile"> <label class = " pt-1" style="color: white;">Frager</label><br><img class="rounded-circle p-1" src="/assets/img/Player.png" alt="..."/><div class= "ms-0 d-flex justify-content-center stats-div">
            <div style="float: right;width: 50%;" class="flex-column">
                <div class = "text-center pt-4 stat-div" >K/D: <label>10</label></div>
                <div class = "text-center pt-4 stat-div">Uticaj: <label>10</label></div>
            </div>
             
            <div style="float: left; width: 50%;">
                <div class = "text-center pt-4 stat-div">Pozicija: <label>10</label></div>
                <div class = "text-center pt-4 stat-div">Rejting: <label>92</label></div>
            </div>  

        </div>
        <button style="width: 100%;" class="shop-btns">Kupi 3000e</button>
    </div>
</div>
</div> 

</div>   
</section>
