::ng-deep .mat-dialog-container {
  background-color: #101010;
  border: 0.1px solid white;
}

.div-dialog {
  width: fit-content;
  height: fit-content;
  max-height: 30vh;
  color: #dfdfdf;
}

.div-dialog p {
  font-size: 3vh;
  padding: 5px;
}

.div-dialog button {
  margin-top: 16%;
  font-size: 3vh;
  padding: 0.6vh;
  background-color: transparent;
  width: 12vh;
  color: white;
  border: white 1px solid;
}
.div-dialog button:hover {
  background-color: white;
  color: #101010;
}

@media screen and (max-width: 912px) {
  .div-dialog {
    width: 30vh;
    height: 20vh;
  }
}
