.polje-div {
  border: 1px solid black;
}
.vs-div {
  background-color: none;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  border-radius: 100%;
  border: 2px solid white;
}

.vs-div:hover {
  background-color: black;
  transition: all 1s;
  cursor: pointer;
}

.tim-levi-div {
  height: 100%;
  width: 48%;
  float: left;
  background-color: none;
}
.tim-desni-div {
  height: 100%;
  width: 48%;
  float: right;
  background-color: none;
}

.mid-linija {
  color: white;
  height: 100%;
  font-size: 3vw;
  width: 4%;
  float: left;
  padding-top: 50%;
}

.stats-div {
  height: auto;
  width: 100%;
}

.stat-div {
  width: 100%;
  height: 50%;
  color: white;
  opacity: 90%;
  border: white 2px solid;
  padding: 2vh;
}

.Team-cmbox {
  background-color: #212529;
  font-weight: bold;
  font-style: italic;
  color: white;
}

.result-label {
  font-size: 4vh;
}

@media screen and (max-width: 912px) {
  .tim-desni-div {
    padding-top: 3vh;
    height: 100%;
    width: 100%;
  }

  .tim-levi-div {
    height: 100%;
    width: 100%;
  }

  .mid-linija {
    color: white;
    font-size: 4vh;
    height: 7.5vh;
    width: 100%;
    padding-top: 0px;
    margin-top: 0;
    background-color: black;
  }
  .vs-div {
    background-color: black;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 100%;
    border: 2px solid white;
  }
}
